[tool.towncrier]
# Usage:
# - PRs should drop a file like "issuenumber.feature" in newsfragments
#   (or "bugfix", "doc", "removal", "misc"; misc gets no text, we can
#    customize this)
# - At release time after bumping version number, run: towncrier
#   (or towncrier --draft)
# - Make sure to use a version with the PRs mentioned below merged.
#   You probably want https://github.com/hawkowl/towncrier/pull/69 too.
#   Right now on my laptop it's
#     PYTHONPATH=~/src/towncrier/src ~/src/towncrier/bin/towncrier
#   with the merge-64-66-69 branch checked out.
package = "trustme"
package_dir = "src"
filename = "docs/source/index.rst"
directory = "newsfragments"
# Requires https://github.com/hawkowl/towncrier/pull/64
underlines = ["-", "~", "^"]
# Requires https://github.com/hawkowl/towncrier/pull/66
issue_format = "`#{issue} <https://github.com/python-trio/trustme/issues/{issue}>`__"

[tool.mypy]
check_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_decorators = true
disallow_untyped_defs = true
no_implicit_optional = true
no_implicit_reexport = true
show_error_codes = true
strict_equality = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true

[tool.coverage.run]
branch = true
omit = ["*/setup.py"]
source = ["trustme"]

[tool.coverage.paths]
source = ["trustme", "*/trustme", "*\\trustme"]

[tool.coverage.setup]
precision = 1
exclude_lines = [
  "pragma: no cover",
  "if TYPE_CHECKING:"
]
