name: CI

on:
  push:
    branches-ignore:
      - "dependabot/**"
  pull_request:

env:
  FORCE_COLOR: "1"

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14', '3.14t', '3.15']
        os:
          - macos-latest
          - windows-latest
          - ubuntu-latest
        nox-session: ['']
        include:
          - python-version: pypy3.11
            os: ubuntu-latest
            nox-session: test-pypy3
    name: ${{ fromJson('{"macos-latest":"macOS","windows-latest":"Windows","ubuntu-latest":"Ubuntu"}')[matrix.os] }} (${{ matrix.python-version }})
    timeout-minutes: 20
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Python ${{ matrix.python-version }}'
        uses: actions/setup-python@v6
        with:
          python-version: '${{ matrix.python-version }}'
          allow-prereleases: true
      - name: Run tests
        run: |
          python -m pip install --upgrade nox
          nox -s ${NOX_SESSION:-test-$PYTHON_VERSION}
        shell: bash
        env:
          PYTHON_VERSION: ${{ matrix.python-version }}
          NOX_SESSION: ${{ matrix.nox-session }}
      - name: "Upload coverage data"
        uses: "actions/upload-artifact@v4"
        with:
          name: coverage-data-${{ matrix.os }}-${{ matrix.python-version }}
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: ignore


  coverage:
    name: Combine & check coverage
    if: always()
    runs-on: "ubuntu-latest"
    needs: test

    steps:
      - uses: actions/checkout@v5
      - name: "Use latest Python so it understands all syntax"
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - uses: actions/download-artifact@v5
        with:
          pattern: coverage-data-*
          merge-multiple: true

      - name: Combine coverage & fail if it's <100%
        run: |
          python -Im pip install --upgrade coverage[toml]

          python -Im coverage combine
          python -Im coverage html --skip-covered --skip-empty

          # Report and write to summary.
          python -Im coverage report --format=markdown >> $GITHUB_STEP_SUMMARY

          # Report again and fail if under 100%.
          python -Im coverage report --fail-under=100

      - name: Upload HTML report if check failed
        uses: actions/upload-artifact@v4
        with:
          name: html-report
          path: htmlcov
        if: ${{ failure() }}
