name: CI

on:
  push:
    branches-ignore:
      - "dependabot/**"
  pull_request:

jobs:
  Windows:
    name: 'Windows (${{ matrix.python }})'
    timeout-minutes: 20
    runs-on: 'windows-latest'
    strategy:
      fail-fast: false
      matrix:
        python: ['3.8', '3.9', '3.10', '3.11', '3.12-dev']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '${{ matrix.python }}'
      - name: Run tests
        run: ./ci.sh
        shell: bash
      - name: "Upload coverage data"
        uses: "actions/upload-artifact@v4"
        with:
          name: coverage-data-${{ matrix.python }}
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: ignore

  Ubuntu:
    name: 'Ubuntu (${{ matrix.python }})'
    timeout-minutes: 10
    runs-on: 'ubuntu-latest'
    strategy:
      fail-fast: false
      matrix:
        python: ['3.8', '3.9', '3.10', '3.11', '3.12-dev', 'pypy3.9', 'pypy-3.10']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '${{ matrix.python }}'
      - name: Run tests
        run: ./ci.sh
      - name: "Upload coverage data"
        uses: "actions/upload-artifact@v4"
        with:
          name: coverage-data-${{ matrix.python }}
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: ignore

  macOS:
    name: 'macOS (${{ matrix.python }})'
    timeout-minutes: 10
    runs-on: 'macos-latest'
    strategy:
      fail-fast: false
      matrix:
        python: ['3.8', '3.9', '3.10', '3.11', '3.12-dev']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '${{ matrix.python }}'
      - name: Run tests
        run: ./ci.sh
      - name: "Upload coverage data"
        uses: "actions/upload-artifact@v4"
        with:
          name: coverage-data-${{ matrix.python }}
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: ignore

  coverage:
    name: Combine & check coverage
    if: always()
    runs-on: "ubuntu-latest"
    needs: ["Windows", "Ubuntu", "macOS"]

    steps:
      - uses: actions/checkout@v4
      - name: "Use latest Python so it understands all syntax"
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - uses: actions/download-artifact@v4
        with:
          pattern: coverage-data-*
          merge-multiple: true

      - name: Combine coverage & fail if it's <100%
        run: |
          python -Im pip install --upgrade coverage[toml]

          python -Im coverage combine
          python -Im coverage html --skip-covered --skip-empty

          # Report and write to summary.
          python -Im coverage report --format=markdown >> $GITHUB_STEP_SUMMARY

          # Report again and fail if under 100%.
          python -Im coverage report --fail-under=100

      - name: Upload HTML report if check failed
        uses: actions/upload-artifact@v4
        with:
          name: html-report
          path: htmlcov
        if: ${{ failure() }}
